html, body {
    color: black;
    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
	
}

 #main-content {
    margin: auto;
 }

.navbar-header {
	width: 100%; 
}


#signIn{
	float: right;
	background-color: rgba(255, 255, 255, 0.5);
}

/*********************************
Header
*********************************/
header {
    height: 200px;
}

#site-logo img {
    width: 140px;
}


/* Log form */
#log-form {
    float: right;
}

#log-nav {
    float: right;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    height: 160px;
}

 #pw-forgot, #login-input {
    margin-left: 18px;
 }

 #pw-forgot {
    font-size: 11px;
 }

 #log-form input {
    width: 144px;
 }

 /* menu */
 #menu a, #menu-logout a {
    font-size: 18px;
 }

 #menu a:hover, #menu-logout a:hover {
    background-color: #23BDEF;
 }

/*********************************
Barre de recherche
*********************************/
.navbar-toggle {
    float: left;
}

.navbar.navbar-default {
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

/* .navbar-form {
    margin: 0 auto;
    width: 50%; 
}

.navbar-form input{
    
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
}


.navbar-form button{
    margin-left: 5px; 
    float: right;
    background-color: rgba(255, 255, 255, 0.5);
}

#search-input .form-control {
    width: 500px;
} */

/*********************************
Page série détail
*********************************/
#serie-info img {
   width: 100%;
   height: 100%;
}

#links a {
    color: ;
    text-decoration: none;
}

/*********************************
Diaporama
/*************************/


/***************************
Footer
****************************/
footer {
    height: 100px;
    padding-top: 20px;
    background-color: rgb(190, 217, 222);
}

footer p {
    text-align: center;
}

@media (min-width: 480px) {
    #site-logo img {
        width: 176px;
    }

    /* menu navigation */
    #log-nav {
        float: right;
        border: 1px solid black;
        padding: 15px;
        border-radius: 5px;
        margin-top: 10px;
        width: 200px;
        height: 160px;
    }
    
    /* image série */
    #serie-info img {
       width: 480px;
       height: 720px;
    }
}

@media (min-width: 1000px){
    /* info série */
    #detail-serie {
        width: 460px;
    }
    #detail-serie {
        float: right;
    }
}

@media (min-width: 1300px) {

    #main-content {
        width: 1300px;
        margin: auto;
    }

    #site-logo img {
        width: 203px;
    }
 
}
