html, body {
    color: black;
	
}

 #main-content {
    width: 1300px;
    margin: auto;
 }

.navbar-header {
	width: 100%; 
}


#signIn{
	float: right;
	background-color: rgba(255, 255, 255, 0.5);
}


/*********************************
Barre de recherche
*********************************/
.navbar-toggle {
	float: left;
}

.navbar.navbar-default {
	width: 100%; 
	background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}

.navbar-form {
	margin: 0 auto;
	width: 50%; 
}

.navbar-form input{
	
	float: left;
	background-color: rgba(255, 255, 255, 0.5);
}


.navbar-form button{
	margin-left: 5px; 
	float: right;
	background-color: rgba(255, 255, 255, 0.5);
}

#search-input .form-control {
    width: 500px;
}
 

/*************************
Diaporama
/*************************/
